body,
button,
input,
optgroup,
select,
option,
textarea {
    font-family: iranyekan, tahoma;
}

.icon.is-clickable {
    pointer-events: auto !important;
}

.has-icons-right input {
    padding-right: calc(calc(0.75em - 1px) + 0.375em) !important;
}

.is-text {
    color: #c70600 !important;
}

.is-text:hover {
    color: #c70600 !important;
    background: #feecf0 !important;
}

.login-form .field p.help.is-danger {
    display: none !important;
}

.login-form input,
.login-form .input::placeholder {
    text-align: center !important;
}

.field.is-floating-label .label,
.field.is-floating-in-label .label {
    left: unset;
    right: 1em;
}
