/**
* bulma hacks
**/
.columns.is-fullheight {
    height: 100vh;
}

.button.is-text {
    text-decoration: none;
}

.field:not(:last-child) {
    margin-bottom: 1rem;
}

.has-text-transparent {
    color: transparent;
}